header {
  display: inline-block;
  float: left;
  font-family: 'Ubuntu';
  font-size: 40px;
  margin: 30px;



}

.profile {
  display: inline-block;
  float: left;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin: 20px 0px 0px 10px;
}

aside {
  display: inline-block;
  float: right;
  font-family: 'Ubuntu';
  font-size: 12px;
  margin: 40px;
}

.picone {
  clear: both;
  display: block;
  background-color: rgba(69, 240, 190, 1);
  height: 250px;
  border-radius: 15px;
  margin-bottom: 80px;
}

.monitor {
  height: 250px;
  width: 250px;
  margin: 60px 60px 60px 150px;
}

.pone {
  font-size: 28px;
  float: right;
  clear: both;
  width: 600px;
  margin: 55px 120px 115px 0;
  font-family: 'Ubuntu';
  color: white;
  letter-spacing: 5px;
}

.pictwo {
  clear: both;
  display: block;
  background-color: #FF5722;
  height: 250px;
  border-radius: 15px;
}

.ptwo {
  font-size: 28px;
  float: left;
  clear: both;
  width: 600px;
  margin: 55px 0 115px 120px;
  font-family: 'Ubuntu';
  color: white;
  letter-spacing: 5px;
}

.website {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  float: right;
  margin: 90px 150px 60px 60px;
}


}
