header {
  display: inline-block;
  font-family: "Raleway";
  font-size: 80px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  padding: 20px;
  padding-right: 50px;
  float: left;
}


aside {
  float: right;
  color: rgba(69, 240, 190, .8);
  font-size: 68px;
  font-family: "Raleway";
  text-align: right;
  display: inline-block;
  margin-right: 100px;
  margin-top: -380px;
}

img {
  text-align: center;
  display: inline-block;
  clear: all;
  height: 300px;
  width: 300px;
  margin-top: -250px;
  margin-right: 200px;
  float: left;
  border-radius: 250px;
  float: right;
}

.aboutmod {
  float: left;
  line-height: 75px;
  display: inline-block;
  background-color: rgba(69, 240, 190, .8);
  color: white;
  font-size: 24px;
  vertical-align: center;
  font-family: "Raleway";
  height: 75px;
  width: 300px;
  clear: both;
  text-align: center;
  padding: 10px;
  border-radius: 60px;
  margin: 30px 50px 5px 80px;
}
