
body {
  perspective: 10000px;
}

@keyframes alien-anim {
  0% {
    transform: scale(1);}
  20% {
    transform: scaleY(0.98) scaleX(1.01);}
  48% {
    transform: scaleY(1.07) scaleX(0.97);}
  68% {
    transform: scaleY(0.98) scaleX(1.04);}
  80% {
    transform: scaleY(1.01) scaleX(0.98);}
  95% {
    transform: scale(1);}
}

@keyframes alien-breathe {
  0% {
    top: 60px;}
  20% {
    top: 52px;}
  40% {
    top: 44px;}
  50% {
    top: 50px;}
  60% {
    top: 44px;}
  80% {
    top: 52px;}
  100% {
    top: 60px;}
}

@keyframes hurting {
  0% {
    transform: rotateY(-10deg);
    top: 60px;
  }
  10% {
    transform: rotateY(-20deg);
  }
  20% {
    transform: rotateY(0deg);
    top: 52px;
  }
  30% {
    transform: rotateY(20deg);
  }
  40% {
    transform: rotateY(-10deg);
    top: 44px;
  }
  50% {
    transform: rotateY(10deg);
    top: 50px;
  }
  60% {
    transform: rotateY(-10deg);
    top: 44px;
  }
  70% {
    transform: rotateY(10deg);
  }
  80% {
    transform: rotateY(-10deg);
    top: 52px;
  }
  90% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(-10deg);
    top: 60px;
  }

}

@keyframes health-anim {
  0% {
    transform: scale(1);}
  20% {
    transform: scaleY(0.8) scaleX(1.21);}
  48% {
    transform: scaleY(1.07) scaleX(0.97);}
  68% {
    transform: scaleY(0.9) scaleX(1.04);}
  80% {
    transform: scaleY(1.31) scaleX(0.68);}
  95% {
    transform: scale(1);}
}


.alien {
  background: radial-gradient(circle at 50% 120%, rgba(112, 133, 229, .9) , rgba(75, 89, 153, 1) 80%, rgba(50, 59, 102,1) 100%);
  position: absolute;

  left: 5em;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: 100;
  top: 60px;
  transition: margin-top, 4s;
  transition: opacity, 4s;
  transition-delay: 2s;
}

.alien.winner {
  margin-top: -1000px;

}

.alien.death {
  opacity: 0;
  animation: hurting 1s infinite;
}




#hurting {
  animation: hurting 1s infinite;
}

#standard {
  animation: alien-anim 2s infinite, alien-breathe 3s infinite;
}

#happy {
  animation: health-anim 1s infinite;
}


.alien:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  bottom: 2.5%;
  opacity: 0.9;
  width: 90%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0) 70%);
  -webkit-filter: blur(5px);
  z-index: 102;
}

.alien:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 6%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.6) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg) rotateZ(-30deg);
  -webkit-filter: blur(10px);
}

.laserTarget {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  z-index: 250;
}

.shadow {
  position: absolute;
  top: 30vh;
  left: 6.5em;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  height: 300px;
  width: 360px;
  transform: rotateX(90deg) translateZ(-230px);
  z-index: 100;
}

.healthBar {
  position: absolute;
  height: 5vh;
  width: 45vw;
  right: 3vw;
  top: 3vh;
  border-radius: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);

}

.health {
  height: 5vh;
  height: 5vh;
  float: right;
  width: 50%;
  border-radius: 30px;
  margin: auto;
  background-color: rgba(255, 238, 246, 1);
  transition: background-color, width 1s;

}

.health.zero {
  width: 0%;
  background-color: rgba(255, 81, 81, 1);
}

.health.ten {
  background-color: rgba(255, 81, 81, 1);
  width: 10%;
}

.health.twenty {
  background-color: rgba(255, 81, 81, 1);
  width: 20%;
}

.health.thirty {
  background-color: rgba(255, 81, 81, 1);
  width: 30%;
}

.health.forty {
  background-color: rgba(255, 238, 46, 1);
  width: 40%;
}

.health.fifty {
  background-color: rgba(255, 238, 46, 1);
  width: 50%;
}

.health.sixty {
  background-color: rgba(255, 238, 46, 1);
  width: 60%;
}

.health.seventy {
  background-color: rgba(255, 238, 46, 1);
  width: 70%;
}

.health.eighty {
  background-color: rgba(33, 232, 60, 1);
  width: 80%;
}

.health.ninety {
  background-color: rgba(33, 232, 60, 1);
  width: 90%;
}

.health.hundred {
  background-color: rgba(33, 232, 60, 1);
  width: 100%;
}


h1 {
  clear: both;
  float: right;
  margin: 10vh 3vw 0 1vh;
  font-family: 'Exo';
  font-size: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .3);


}

.tablet {

  height: 475px;
  width: 50vw;
  position: absolute;
  border-radius: 25px;
  right: 1em;
  top: 8em;


}

.tabletInner {
  position: absolute;
  height: 400px;
  width: 39vw;
  right: 3vw;
  top: 6.5em;
  font-family: 'Exo';


  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);

}




p {
  margin-top: 30px;
  display: none;
  height: 60px;
  width: 100%;
  z-index: 150;
  font-size: 24px;
  color: rgba(0, 0, 0, .4);
}

.p1 {
  margin-top: -5px;
}

.p2 {
  margin-bottom: 20px;
}
.p3 {
  margin-top: 77px;
}

#doMyBest, h2 {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(23, 186, 255, .7);
  font-family: 'Exo';
  font-size: 24px;
  height: 60px;
  width: 30vw;
  margin: 20px 0;
  color: white;
  border: none;
  line-height: 60px;
  border-radius: 30px;
}

#doMyBest {
  margin: 75px auto;

}

h2:hover {
  background-color: rgba(23, 186, 255, 1);
  box-shadow: 0 0 3px 3px rgba(23, 186, 255, .6);
}

#doMyBest:hover {
  background-color: rgba(23, 186, 255, 1);
  box-shadow: 0 0 3px 3px rgba(23, 186, 255, .6);
}

h2 {
  margin: 20px auto;

}

.gpi, .darkmatter, .biocomp, .laser, .picobots, .countersAll, .gameover {
  margin: 0 auto;
  text-align: center;
  font-family: 'Exo';
  font-size: 36px;
  height: 115px;
  width: 30vw;
  color: rgba(33, 232, 60, .6);
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.countersAll {
  top: 40px;
  color: rgba(255, 81, 81, .6);
}

.gameover {
  color: rgba(0, 0, 0, .4);
}

.playagain {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .1);
  font-family: 'Exo';
  font-size: 25px;
  height: 30px;
  width: 20vw;
  margin: 20px auto;
  color: rgba(23, 186, 255, .9);
  border: none;
  line-height: 35px;
  border: 1px dotted rgba(0, 0, 0, .1);
}

.playagain:hover {
  background-color: rgba(23, 186, 255, .9);
  color: white;
}












